/* Add CSS Styling */
.One,
.Three,
.Five {
    background-color: palevioletred;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.Three {
    font-size: 24px;
}

.Num4 {
    background-color: limegreen;
    font-size: 24px;
    font-weight: bold;
}

#Num2 {
    color: blue;
    font-size: 36px;
}