body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 470px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  margin: 16px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  margin: 16px;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

button {
  background: white;
  padding: 16px;
  width: auto;
  border: 5px solid #eee;
  display: block;
  margin: auto;
}